@model InvoiceViewModel
@{
    ViewBag.Title = "ზედნადებების ისტორია";
}

@section HeaderSection {

    <link href="~/Content/plugins/jqxTreeGrid/jqx.base.css" rel="stylesheet" />
    <link href="~/Content/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/plugins/loader/loader.css" rel="stylesheet" />
    <link href="~/Content/plugins/jquery-ui-1.12.0/jquery-ui.min.css" rel="stylesheet" />
}


@section Breadcrumb {
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>

}

<div class="row">
    <div class="col-md-12">
        <div class="actions-bar">
            <div class="row">
                <div class="col-md-4 ab-btn">
                    <a href="@Model.InvoiceCreateUrl" class="btn btn-default"><i class="fa fa-plus"></i> დამატება</a>
                    <button form="export-to-excel" type="submit" id="download-invoices-excel" class="btn btn-success"><i class="fa fa-download"></i> Excel</button>
                    @*<label class="btn btn-success btn-file">
                        <i class="fa fa-upload"></i> Excel <input type="file" style="display: none;">
                    </label>*@
                </div>
                <form action="@Model.InvoicesExportToExcelUrl" method="post" id="export-to-excel">
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control calendar" name="dateFrom" id="From" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control calendar" name="dateTo" id="To" aria-describedby="basic-addon2">
                        </div>
                    </div>
                </form>
                
                <div class="col-md-2">
                    <button class="btn btn-warning" disabled="disabled" id="ClearDates"><i class="fa fa-times"></i> გასუფთავება</button>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            ზედნადებები
        </div>
        <div class="panel-body">
            <div id="treeGrid">

            </div>
        </div>
    </div>

</div>

@section FooterSection {

    <script src="~/Content/plugins/jqxTreeGrid/jqxcore.js"></script>
    <script src="~/Content/plugins/jqxTreeGrid/jqxdata.js"></script>
    <script src="~/Content/plugins/jqxTreeGrid/jqxbuttons.js"></script>
    <script src="~/Content/plugins/jqxTreeGrid/jqxscrollbar.js"></script>
    <script src="~/Content/plugins/jqxTreeGrid/jqxlistbox.js"></script>
    <script src="~/Content/plugins/jqxTreeGrid/jqxdropdownlist.js"></script>
    <script src="~/Content/plugins/jqxTreeGrid/jqxdatatable.js"></script>
    <script src="~/Content/plugins/jqxTreeGrid/jqxtooltip.js"></script>
    <script src="~/Content/plugins/jqxTreeGrid/jqxinput.js"></script>
    <script src="~/Content/plugins/jqxTreeGrid/jqxtreegrid.js"></script>
    <script src="~/Content/plugins/successErrorMessage.js"></script>
    <script src="~/Content/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Content/plugins/fancybox/jquery.fancybox.js"></script>
    <script src="~/Content/plugins/fancybox/FancyMethods.js"></script>
    <script src="~/Content/plugins/loader/loader.js"></script>
    <script src="~/Content/plugins/jquery-ui-1.12.0/jquery-ui.min.js"></script>
    <script>
        var InvoicesByReceiveDateUrl = "@Model.InvoicesByReceiveDateUrl";
        var InvoicesJson = @Html.Raw(Model.InvoicesJson);
        var confirmDeleteText = "@Model.ConfirmDeleteText";
        var customDateFormatJs = "@Model.CustomDateFormatJs";
        var customDateFormat = "@Model.CustomDateFormat";
        var abort = "@Model.Abort";
    </script>
    <script src="~/Areas/Admin/Content/scripts/Invoices/Index.js"></script>
}
