@{ 
    var layoutViewModel = ViewBag.LayoutViewModel as LayoutViewModel;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="~/Content/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/landing-page.css" rel="stylesheet" />
    <link href="~/Content/plugins/font-awsome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    @RenderSection("HeaderSection", false)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="@layoutViewModel.HomeUrl">Smart Express</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    @if (layoutViewModel.IsUserAuthorized)
                    {
                        <li>
                            <a href="@layoutViewModel.LogoutUrl">გასვლა</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="#about">ჩვენ შესახებ</a>
                        </li>
                        <li>
                            <a href="#services">ტარიფები</a>
                        </li>
                        <li>
                            <a href="@layoutViewModel.LoginUrl">შესვლა</a>
                        </li>
                    }
                    
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/plugins/jquery/jquery-2.2.1.min.js"></script>
    <script src="~/Content/plugins/bootstrap/bootstrap.min.js"></script>

    @RenderSection("FooterSection", false)
</body>
</html>
